<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="ConnString" connectionString="data source=(LocalDB)\v11.0;Integrated Security=True;AttachDbFilename=|DataDirectory|\App_Data\NORTHWND.MDF;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
  <system.serviceModel>

    <services>
      <service name="WCFBasicService.EmployeeService">
        <endpoint name="EmployeeBasicEndPoint" behaviorConfiguration="restfulbehavior"
                address=""    binding="webHttpBinding" contract="WCFBasicService.IEmployeeService" />
      </service>
    </services>

    <behaviors>

      <endpointBehaviors>
        <behavior name="restfulbehavior">
          <webHttp defaultBodyStyle="WrappedRequest" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      
    </behaviors>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>

  </system.serviceModel>

</configuration>
